/* Media query para telas menores (até 768px de largura) */
@media (max-width: 768px) {
  .main-container {
    padding: 1rem; 
  }

  .welcome-text {
    font-size: 1.2em;
  }

  .aprender-button, 
  .colaborar-button {
    padding: 0.8rem 1.5rem;
    font-size: 1em; 
  }

  .robot-image {
    width: 90%; 
  }

  .upper-square {
    width: 50%;
  }

  .bottom-square {
    width: 70%; 
  }

  .footer-text {
    font-size: 0.8em; 
  }
}

@media (max-width: 425px) {
  .main-container {
  
    padding: 0.5rem; 
  }

  .welcome-text {
    font-size: 1em;
  }

  .aprender-button, 
  .colaborar-button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9em; 
  }

  .robot-image {
    width: 100%; 
  }

  .upper-square {
    width: 90%;
  }

  .bottom-square {
    width: 80%; 
  }

  .footer-text {
    font-size: 0.7em; 
  }
}

