body {
  overflow-y: auto;
}

main {
  margin-top: 50px;
  display: grid;
  place-items: center;
  position: relative;
}

.search-and-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.search-bar {
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.search-input {
  flex: 1;
  width: calc(100% - 47px);
  padding: 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
  opacity: 0.95;
  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
}

.search-input:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(16, 6, 102, 0.8), 0 0 20px rgba(0, 0, 0, 0.5);
}

.search-button {
  width: 47px;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
}

.search-button:hover {
  opacity: 0.9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.search-button:active {
  transform: scale(0.95);
  opacity: 0.7;
}

.search-icon {
  width: 20px;
  height: auto;
  transition: transform 0.2s ease;
}

.search-button:hover .search-icon {
  transform: rotate(360deg);
}

#ideas-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  width: fit-content;
}

.idea-card {
  background-color: rgba(10, 25, 41, 0.8);
  backdrop-filter: blur(5px);
  border: 2px solid #673ab7;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto', sans-serif;
}

.idea-card h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
  text-align: justify;
}

.idea-card p {
  font-size: 1.1em;
  color: #f5f5f5;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
}

.idea-card strong {
  font-weight: bold;
  color: #ffffff;
}

.loading-bar.show {
  width: 100%;
}

.error-message {
  display: none;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  background-color: rgba(196, 76, 76, 0.8);
  color: white;
  border: 1px solid rgba(196, 76, 76, 1);
  text-align: center;
  width: 80%;
  max-width: 400px;
  z-index: 1;
  position: relative;
}

.error-message.show {
  display: block;
  opacity: 1;
}

.error-message:not(.show) {
  transform: translateY(-10px);
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.filter-label {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-label:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.filter-label.selected {
  background-color: rgba(76, 107, 196, 0.8);
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.filter-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-container input[type="checkbox"]:checked + label {
  background-color: rgba(76, 107, 196, 0.8);
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5); 

}

.filter-container input[type="checkbox"]:not(:checked) + label:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);


}