@media (max-width: 768px) {
  .search-bar {
    display: flex;
    flex-direction: row; /* Mantém os itens lado a lado */
    width: 100%;
  }

  .search-input {
    flex: 1; /* Faz o campo de pesquisa ocupar o máximo de espaço possível */
    padding: 10px;
    border-radius: 5px 0 0 5px; /* Arredonda apenas o lado esquerdo */
  }

  .search-button {
    width: 47px;
    padding: 10px;
    margin-left: 0;
    border-radius: 0 5px 5px 0; /* Arredonda apenas o lado direito */
  }
}

@media (max-width: 480px) {
  .search-bar {
    display: flex;
    flex-direction: row; /* Mantém os itens lado a lado */
    width: 100%;
  }

  .search-input {
    flex: 1; /* Faz o campo de pesquisa ocupar o máximo de espaço possível */
    padding: 8px;
    border-radius: 5px 0 0 5px; /* Arredonda apenas o lado esquerdo */
  }

  .search-button {
    width: 47px;
    padding: 8px;
    margin-left: 0;
    border-radius: 0 5px 5px 0; /* Arredonda apenas o lado direito */
  }
}