/* General styles for the Collaborate page */
body {
  overflow-y: auto; 
}

.collaborate-titulo-input,
.collaborate-nome-input {
  width: 80%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.collaborate-titulo-input:focus,
.collaborate-nome-input:focus {
  border-color: rgba(76, 107, 196, 1);
  box-shadow: 0px 4px 15px rgba(76, 107, 196, 0.3); /
}

.collaborate-textarea-input {
  width: 80%;
  height: 150px;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  resize: vertical;
  overflow-y: auto;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.collaborate-textarea-input:focus {
  border-color: rgba(76, 107, 196, 1);
  box-shadow: 0px 4px 15px rgba(76, 107, 196, 0.3);
}

.collaborate-buttons-container {
  margin-top: 1rem;
}

.collaborate-enviar-button {
  padding: 0.8rem 1.5rem;
  font-size: 1.1em;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(76, 107, 196, 1) 0%, rgba(38, 45, 128, 1) 100%); 
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.collaborate-enviar-button:hover {
  background: linear-gradient(90deg, rgba(76, 107, 196, 0.9) 0%, rgba(38, 45, 128, 0.9) 100%);
  opacity: 0.9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.collaborate-enviar-button:active {
  opacity: 0.5;
}