/* General styles for the Collaborate page */
body {
  overflow-y: auto; 
}

main{
  margin-top: 50px;
}

.collaborate-titulo-input,
.collaborate-nome-input,
.collaborate-textarea-input {
  width: 80%;
  padding: 1rem; 
  margin: 0.5rem 0;
  border: 2px solid rgba(76, 107, 196, 0.5); 
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #434D57;
  transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
  box-sizing: border-box;
}

.collaborate-titulo-input.error,
.collaborate-textarea-input.error {
    border-color: rgba(196, 76, 76, 1);
}

.collaborate-titulo-input:focus.error,
.collaborate-textarea-input:focus.error{
    box-shadow: 0px 0px 10px rgba(196, 76, 76, 0.8);
}



.collaborate-titulo-input::placeholder,
.collaborate-nome-input::placeholder {
  color: rgba(76, 107, 196, 0.7);
  font-size: 14px;
  font-weight: 500;
}

.collaborate-titulo-input:hover,
.collaborate-nome-input:hover,
.collaborate-textarea-input:hover {
  border-color: rgba(76, 107, 196, 1); 
  background-color: rgba(255, 250, 240, 0.9);
}

.collaborate-titulo-input:focus,
.collaborate-nome-input:focus,
.collaborate-textarea-input:focus {
  outline: none;
  border-color: rgba(76, 107, 196, 1); 
  box-shadow: 0px 4px 15px rgba(76, 107, 196, 0.3);
}

.collaborate-textarea-input {
  height: 150px;
  resize: vertical; 
}

.collaborate-enviar-button {
  padding: 0.8rem 1.5rem;
  font-size: 1.1em;
  font-weight: bold;
  background: linear-gradient(45deg, rgba(76, 107, 196, 1), rgba(38, 45, 128, 1)); 
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

.collaborate-enviar-button:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.collaborate-enviar-button:active {
  transform: scale(0.95); 
  opacity: 0.7;
}

.collaborate-message-container {
    margin-top: 10px;
    height: 20px;
}

.success-message,
.error-message {
    display: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out; 
    opacity: 0;
}

.success-message {
    background-color: rgba(76, 196, 107, 0.8);
    color: white;
    border: 1px solid rgba(76, 196, 107, 1);
}

.error-message {
    background-color: rgba(196, 76, 76, 0.8);
    color: white;
    border: 1px solid rgba(196, 76, 76, 1);
}

.success-message.show,
.error-message.show {
    display: block;
    opacity: 1;
}