/* Responsividade */
@media (max-width: 600px) {
  main {
      padding-top: 40px;
  }
  .main-container {
      border-radius: 10px; 
      margin-bottom: 20px;
  }

  .input-name-date {
      flex-direction: column;
      gap: 0;
  }

  #submit-form {
      gap: 10px;
  }

  .form-group {
      margin-bottom: 10px;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
      font-size: 14px;
  }

  .collaborate-textarea-input {
      height: 120px;
  }
  .robot-image {
      width: 70%;
  }
  .bottom-background-container {

      height: 40%;
  }
}
